.navbar-brand{
	padding-right: 50px;
}

.navbar-collapse
{
	padding-left: 750px;
}

.home{

	padding-left: 150px;

}

.card-service {
    display: block;
    margin: 16px auto;
    padding: 32px 20px;
    max-width: 300px;
    text-align: center;
    color: #898798;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #1A8CF7;
    border-color: #1A8CF7;
}
.text-secondary{
	padding-top: 15px;
}


.btn-join{
	width: 100%;
}

 